.Log_form {
  background-color: azure;
  width: 40%;
  margin-top: 100px;
  border-radius: 6px;
  position: absolute;
  margin-left: 30%;
}
.Log_form p {
  color: red;
}

.form-control input {
  width: 50%;
  margin-left: 20%;
  outline: none;
  display: block;
  width: 80%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #1f616d;
  color: azure;
}
.check {
  margin-left: 2%;
}

.log-button {
  border: none;
  border-radius: 5px;
  background-color: #1f616d;
  color: whitesmoke;
  height: 50px;
  width: 70px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.radio-parent {
  margin-left: 10px;
}

label > sup {
  color: red;
}
