.shopLabel {
    background-color: red !important;
    border-radius: 30%;
    padding: .3rem;
    font-size: 10px;
    box-sizing: content-box;
    top: 10px;
    left: 10px;
    position: absolute;
}